:root {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

body * {
    font-family: Courier, monospace;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

#header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    background: linear-gradient(
        to bottom right,
        rgb(255, 150, 25),
        rgba(255, 150, 25, 0.5) 80%
    );
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin: auto 20px;
    font-weight: 600;
    font-style: italic;
}

#newItem {
    display: flex;
    justify-content: center;
    height: 2.25rem;
    width: 2.25rem;
    margin: 8px 16px;
    font-size: 2rem;
    background-color: rgb(255, 0, 255);
    border: 1px solid rgba(8, 7, 7, 0.8);
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

#newItem:hover {
    box-shadow: 0 0 8px rgb(0, 0, 0);
}

.main {
    display: flex;
    flex: 1;
}

.menu {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 300px;
    background: linear-gradient(
        to right,
        rgb(150, 255, 255),
        rgba(150, 255, 255, 0.5)
    );
}

.folder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 15px 0 15px;
    padding: 4px 8px;
    text-align: left;
    font-size: 1.2rem;
    background-color: rgb(0, 225, 225);
    border: 1px solid rgba(0, 100, 100, 0.3);
    border-radius: 5px;
    transition: 0.25s ease-in-out;
}

.folder:hover {
    box-shadow: 0 0 3px rgb(0, 0, 0);
    filter: brightness(110%);
}

.active {
    background-color: rgba(0, 245, 245);
    border-color: rgba(0, 100, 100, 0.6);
    box-shadow: 0 0 3px rgb(0, 0, 0);
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 18px;
    margin-left: 8px;
    font-size: 0.6rem;
    background-color: rgb(255, 255, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    box-sizing: border-box;
}

.arrow {
    font-size: 1rem;
    margin: 0 4px;
    transition: 0.25s ease-in-out;
    transform: rotateX(0deg) scale(2) translateY(15%);
}

.rotate {
    transition: 0.25s ease-in-out;
    transform: rotateX(180deg) scale(2) translateY(15%);
}

#containerFolders {
    display: none;
    flex-direction: column;
    margin-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid rgb(0, 0, 0);
    overflow-y: auto;
    scrollbar-color: rgb(175, 175, 175) rgba(150, 255, 255);
}

#containerFolders.drop {
    display: flex;
    animation: drop 0.25s ease-in-out;
    transform-origin: top center;
}

.fewDetails.drop {
    display: flex;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.moreDetails.drop {
    display: flex;
    animation: drop 0.25s ease-in-out;
    transform-origin: top center;
}

@keyframes drop {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.metadata {
    display: flex;
    align-items: center;
    margin: 8px;
}

.metadata span {
    display: flex;
}

.controls {
    display: flex;
    align-items: center;
}

.menu .controls {
    margin: 4px 0;
    margin-left: 16px;
}

.fewDetails .controls {
    margin: 8px;
}

img {
    height: 1rem;
    width: 1rem;
    margin-left: 8px;
}

#containerToDos {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 25px;
    background: linear-gradient(
        to bottom right,
        rgba(200, 200, 175, 0.5),
        rgb(200, 200, 175)
    );
    overflow-y: auto;
    scrollbar-color: rgb(125, 125, 125) rgb(225, 225, 200);
}

.todo {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    margin: 25px 25px 0 25px;
    border: 1px solid rgb(100, 100, 100);
    box-shadow: 0 0 4px rgb(50, 50, 50);
    transition: 0.25s ease-in-out;
}

.todo:hover {
    box-shadow: 0 0 8px rgb(50, 50, 50);
}

.priorityHigh {
    background: linear-gradient(rgba(225, 50, 50, 0.8), rgba(225, 50, 50, 0.5));
}

.priorityMedium {
    background: linear-gradient(
        rgba(255, 255, 50, 0.7),
        rgba(255, 255, 50, 0.4)
    );
}

.priorityLow {
    background: linear-gradient(rgba(50, 255, 50, 0.7), rgba(50, 255, 50, 0.4));
}

.completed {
    filter: brightness(75%);
}

.completed p {
    text-decoration: line-through;
}

.outdated {
    box-shadow: 0 0 4px 1px rgb(225, 0, 0);
}

.outdated:hover {
    box-shadow: 0 0 4px 2px rgb(225, 0, 0);
}

.fewDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.fewDetails div {
    display: flex;
    align-items: center;
}

.fewDetails p {
    margin: 4px 12px;
}

.checkCompleted {
    min-height: 1rem;
    min-width: 1rem;
    margin: 4px 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    box-sizing: border-box;
}

.completed .checkCompleted {
    display: block;
    border: none;
    background-image: url('imgs/check-mark.png');
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: contain;
}

.detailsBtn {
    padding: 4px;
    margin: 0 8px;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 600;
    background-color: rgb(100, 200, 250);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.moreDetails {
    display: none;
    justify-content: space-between;
    padding: 10px;
}

.moreDetails p:first-child {
    margin: 0 8px;
}

.editBtn,
.deleteBtn {
    cursor: pointer;
}

#modalNew,
#modalEditFolder,
#modalEditToDo {
    display: none;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
}

#modalHead {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.2rem;
    background-color: rgb(255, 125, 50);
    border-bottom: 3px solid black;
    box-sizing: border-box;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
    font-weight: 600;
}

h2,
.button-X {
    margin: 10px 15px;
    font-weight: 600;
}

.button-X {
    transform: scale(1.5);
}

.modalBody {
    display: flex;
}

#modalNewMenu {
    display: flex;
    flex-direction: column;
    background-color: rgb(100, 200, 225);
    border-right: 2px solid rgb(0, 0, 0);
}

#modalNewMenu span {
    padding: 20px;
    font-size: 1.2rem;
    border-bottom: 2px solid rgb(0, 0, 0);
    cursor: pointer;
}

#modalNewMenu span:hover {
    background-color: rgb(50, 200, 250);
}

form {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 550px;
    min-width: 450px;
    padding-top: 10px;
    background-color: rgb(225, 225, 200);
    box-sizing: border-box;
}

form * {
    width: 300px;
    margin: 10px;
    padding: 8px;
    box-sizing: border-box;
}

label {
    margin: 8px;
    padding: 0;
}

textarea {
    height: 85px;
    resize: none;
}

.modalControls {
    display: flex;
    justify-content: center;
    width: 100%;
}

.confirmNew,
.confirmEdit,
.cancel {
    width: 40%;
    cursor: pointer;
}

.confirmNew:hover,
.confirmEdit:hover,
.cancel:hover {
    filter: brightness(125%);
}

.confirmNew,
.confirmEdit {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 225, 0);
    border-radius: 5px;
}

.cancel {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(225, 0, 0);
    border-radius: 5px;
}

.folder,
.checkCompleted,
.detailsBtn {
    cursor: pointer;
}

#header,
#modalNew,
#modalEditToDo,
#modalEditFolder,
.folder,
.detailsBtn,
.controls {
    user-select: none;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: rgb(75, 75, 75);
}

.footer a {
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 4px;
    float: right;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer svg {
    margin: 0 8px;
    box-sizing: content-box;
    border-radius: 50%;
    padding: 1px;
    background-color: rgb(255, 255, 255);
    fill: rgb(0, 0, 0);
}

@media (max-width: 800px) {
    .fewDetails {
        flex-direction: column;
    }

    .fewDetails .controls {
        margin-top: 0px;
    }
}

@media (max-width: 660px) {
    .metadata span {
        flex-direction: column;
    }
}
