body {
    font-size: 16px;
    font-family: Courier, monospace;
    height: 100%;
}

#content {
    /* min-height: 100%; */
}

#header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 255, 0.5);
    border-bottom: 2px solid black;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 25%;
    background-color: rgba(0, 255, 255, 0.3);
    border-right: 2px solid black;
}

.menu button {
    margin: 5px;
}

.menu div {
    text-align: left;
    background-color: rgba(0, 255, 255, 0.5);
    border: 1px solid rgba(0, 100, 100, 0.2);
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 5px;
    padding: 10px;
}

.menu div:hover {
    filter: brightness(90%);
}

input[type=image] {
    height: 20px;
    width: 20px;
    float: right;
}

.todo {
    margin: 20px 20px;
    padding: 10px;
}

h1 {
    font-size: 2.5rem;
    margin: auto 20px;
}

#newItem {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 150, 150, 0.8);
    margin: 10px;
    font-size: 3rem;
    height: 3rem;
    width: 3rem;
    border: 1px dashed rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    padding: 3px 6px 6px 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

#newItem:hover {
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

#containerToDos {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: rgb(225, 225, 225);
}

.priorityHigh {
    background-color: rgba(255, 50, 50, 0.7);
}

.priorityMedium {
    background-color: rgba(255, 255, 50, 0.6);
}

.priorityLow {
    background-color: rgba(50, 255, 50, 0.5);
}

#containerFolders {
    display: none;
    flex-direction: column;
}

.show {
    display: flex !important;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
    padding: 10px 0;
    font-size: 1rem;
    background-color: rgb(200, 200, 200);
    border-top: 2px solid black;
}

.modalBody {
    display: flex;
}

#modalNewPage, #modalEditFolder, #modalEditToDo {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#modalHead {
    justify-content: space-between;
    display: flex;
    background-color: rgb(150, 0, 255);
    border-bottom: 4px solid black;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 5px;
}

#modalHead span {
    font-weight: 600;
}

#modalNewMenu {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 150, 255);
    border-right: 4px solid black;
}

#modalNewMenu span {
    padding: 20px;
    border-bottom: 3px solid black;
}

#modalNewMenu span:hover {
    background-color: rgb(0, 125, 255);
}

form {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    min-width: 550px;
    min-height: 450px;
    background: rgb(200, 200, 200);
    box-sizing: border-box;
}

form * {
    margin: 10px;
    padding: 10px;
    width: 300px;
    box-sizing: border-box;
}

.controls {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: auto;
}

h3 {
    padding: 10px 20px;
    background-color: rgba(150, 0, 255, 0.5);
    font-weight: 600;
    border-bottom: 2px solid black;
}

.controls button {
    width: 150px !important;
}

textarea {
    height: 80px;
    resize: none;
}